/* Standard box-sizing */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*, *::after, *::before {
  box-sizing: inherit;
 /* border-style: solid;  TODO remove */
}

/* Basic styling */
img {
  width: 100%;
}

header, footer {
  background: black;
  color: #ffffff;
}

footer p{
  align-content: center;
}

section {
  border: solid;
}
.contacts a{
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px;
}

a:link {
  color: blue;
}
a:visited {
  color:blueviolet;
}
a:hover {
  text-decoration: underline;
  background-color: gainsboro;
}
a:active {
  background-color: gray;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px;

}

nav a:link, nav a:visited {
  color: white;
}

/* Header flexbox items */
.profile-pic {
  max-width: 200px;
  padding 0;
  flex: 1;
  border: solid white;
}

header h1 {
  font-size: 64;
}
section h2{
  margin-bottom: 0;
}

/* Contact Form */
form input, form textarea {
  width:100%;
}

/*flexbox - general items  */
.group {
  display: flex;
  flex-direction: column;
}


/* Media Query */
@media all and (min-width: 800px) {


  .group {
    flex-direction: row;
  }
}